.linkButton {
  display: flex;
  align-items: center;
  background-color: #eef9f6;
  border: none;
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  max-width: 250px;
  width: 100%;
  gap: 8px;
}

.linkText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}
