.searchForm {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .searchBox {
    position: relative;
    width: 700px;
  }
  
  .searchIcon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
  }
  
  .searchInput {
    width: 100%;
    font-size: 18px;
    color: #474D66;
    background-color: #F7F7FA;
    border: 1px solid #505050;
    border-radius: 10px;
    padding: 16px 20px 16px 50px; 
    outline: none;
    box-sizing: border-box;
  }
  
  :global(.light) .searchInput {
    color: #474D66;
    background-color: #F7F7FA;
    border: 1px solid #cfcfcf;
  }
  
